.videoFooter {
    position: relative;
    bottom: 70px;
    color: white;
    display: flex;
    padding: 0 1rem;
}

.videoFooter__text {
    flex: 1;
}

.videoFooter__record {
    animation: spinTheDisk infinite 5s linear;      /* 'infinite' to keep doing the animation */
    height: 50px;
    filter: invert(1);     /*  Change the color of the image to white */
}

@keyframes spinTheDisk {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}